<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>reddit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C2F512A1D4AF1DC009F1C36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2F513E1D4AF1DD009F1C36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2F51491D4AF1DD009F1C36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
